<%- include("templates/header.ejs") %>
<%- include("partials/navbar.ejs") %>
    <form action="/add" method="POST">
        <input type="text" name="item-name" placeholder="Item's name"> <br>
        <input type="text" name="loc" placeholder="Location of the item"> <br>
        <button type="submit">Submit</button>
    </form>
<%- include("templates/footer.ejs") %>